header{
    background: 		#000000;
}
body{
  background: #1C1C1C;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    

}
#contatotitu{
  color: #ffffff;
  text-decoration: none;
}
nav{
  position: absolute;
  text-decoration: none;
  top:100px;
  right: 0;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
}
nav a{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
main{
  width: 940px;
  margin: 0 auto;
}
form{
  color: #ffffff;
  margin: 40px 0;
}
.input-padrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%
}
.copyright{
  color: white;
  font-size: 20px;
  margin: 0 0 10px;
}
.main{
  width: 940px;
  margin: 0 auto;
}
form{
  margin: 40px 0;
}
form label, form legend{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}
.enviar{
  width: 40%;
  padding: 15px 0;
  background: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}
.enviar:hover{
  background: #ffffff;
  transform: scale(1.1)
}
table{
  margin: 20px 0 40px;
}
thead{
  background: 	#ffffff;
  color: white;
  font-weight: bold;
}
td, th{
  border: 1px solid white;
  padding: 8px 15px;
}
footer{
  text-align: center;
  background: #000000;
  padding: 40px 0;
}
.produtos{
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.produtos li:hover {
  border-color: rgb(255, 255, 255);
}
.produtos li:active{ 
  border-color: bla;
}
.produtos li:hover h2{
  font-size: 34px;

}
.preco-produto{
  color: #ffffff;
}
  .produto-descricao{
    color: white;
  }
  .produtos li{
    color: #ffffff
    ;
  }
